body {
  margin: 40px auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.primary-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
a,
a:visited {
  color: #006cb8;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
}
a:hover {
  text-decoration: none;
  color: #00406d;
  outline: 2px solid #00406d;
}
